<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Contact en route
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
  <p text-center>
    App developed by:<br />
    <a href="//nooijensolutions.nl">Nooijen Web Solutions</a>
  </p>
</ion-content>
